<div >
    <label for="">Tỉnh/Thành phố</label>
    <select [disabled] ="readonly" (change)="onSelected($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option  *ngFor="let item of cityList">{{item.name}}</option>
    </select>
    <br>
    <br>
    <label for="">Quận/Huyện</label>
    <select [disabled] ="readonly" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option  *ngFor="let item of districtList">{{item.name}}</option>
    </select>
</div>
