<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <ng-content select="h4"></ng-content>
        </div>

        <div class="col-sm-3">
            {{slogan}}
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <div class="container">
                <ng-content select=".add-delete-edit"></ng-content>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <!-- <ng-content select=".about"></ng-content> -->
            
            <ng-container *ngTemplateOutlet="subTittle"> </ng-container>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>