<form [formGroup]="createForm" (ngSubmit) = "add($event)">
    <div  class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Tên</label>
        <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">SĐT</label>
        <input type="text" class="form-control" formControlName="phoneNumber">
    </div>

    <app-city formGroupName= "adress"></app-city> 
    <!-- <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Tỉnh/Thành phố</label>
        <input type="text" class="form-control" formControlName="city">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Quận/Huyện</label>
        <input type="text" class="form-control" formControlName="district">
    </div> -->

    <button  type="submit" mat-raised-button color="warn">Submit</button>
</form>