part 1 
<app-page-header [slogan]='slogan' [subTittle]="content">
  <h4>{{tittle}}</h4>

  <div class="row add-delete-edit">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary btn-sm">Add button</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary btn-sm">Delete button</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary btn-sm">Edit button</button>
    </div>
  </div>

</app-page-header>
<ng-template #content>
  <div>
    Ant Design interprets the color system into two levels: a system-level color system and a product-level
    color system. <br>
    Ant Design's design team preferred to design with the HSB color model, which makes it easier for designers
    to have a clear psychological expectation of color when adjusting colors, as well as facilitate
    communication in teams.
  </div>
</ng-template>

<br>
<br>
<div class="test" (click)="test1()">Test </div>
<div #testEl (click)="test2()">Testt El</div>
part 2
<div class="container">
  <form #checkForm="ngForm">
    <app-check name="status" [(ngModel)]="checkActive" [readonly]="checkDisabled"></app-check>
  </form>
  <br>
  <button (click)="checkDisabled = !checkDisabled" mat-raised-button color="warn">Check driven form disable</button>
  <pre>
  {{checkForm.value | json}}
  </pre>
  <app-check [formControl]="checkControl"></app-check>
  <pre>
  {{checkControl.value | json}}
  </pre>

  <button (click)="toggleControlDisable()" mat-raised-button color="warn">Check Reactive form disable </button>
</div>
<br>


<!-- part 3 -->
<!-- 
<div class="container">
  <form #cbbForm="ngForm">
    <app-show-data name="status" [(ngModel)]="dataDisable"></app-show-data>
  </form>
  <br>
  <button (click)="dataDisable = !dataDisable" mat-raised-button color="warn">data driven form disable</button>
  <pre>
    {{cbbForm.value | json}}
  </pre>

  <app-show-data [formControl]="dataControl"></app-show-data>
  <pre>
  {{dataControl.value | json}}
  </pre>

  <button (click)="dataControlDisable()" mat-raised-button color="warn">Check Reactive form disable </button>

</div> -->
<!-- part 3 -->
<div class="container">
  <app-show-data></app-show-data>
</div>
