<table class="table  table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">SĐT</th>
            <th scope="col">Tỉnh/Thành phố</th>
            <th scope="col">Quận/Huyện</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userList" >
            <th>
                <input type="text" [value] ="item.id" disabled >
            </th>
            <th>
                <input type="text" [(ngModel)] ="item.name" [disabled]="readonly" >
            </th>
            <th>
                <input type="text" [(ngModel)] ="item.phoneNumber" [disabled]="readonly" >
            </th>
            <th>
                <input type="text" [(ngModel)] ="item.city" [disabled]="readonly" >
            </th>
            <th>
                <input type="text" [(ngModel)] ="item.district" [disabled]="readonly">
            </th>
            <td>
                <button (click) ="editData()"  href="">sửa |</button>
                <button  (click) ="saveUserBeforeUpdate(item)" href="" [hidden] = "readonly">OK |</button>
                <button (click)="deleteUser(item)" > xóa</button>
            </td>
        </tr>
    </tbody>
</table>
